.App {
  text-align: center;
}

h4{
  margin-bottom: 20px !important;
}

button{
  margin: 10px !important;
}

input{
  color: white !important;  
}

.App-header {
  background-color: #7012af;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

